nav {
color: #3C3C3C;
display: flex;
justify-content: space-around;
align-items: center;
z-index:3;
height:80px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.liens-navbar {
    width:60%;
}

main{
    font-family: 'Montserrat', sans-serif;
}
    



